[Unit]
Description=CoreAudio

[Service]
Type=forking
WorkingDirectory=/root/audio-recorder

User=root
Group=root

ExecStart=python3 Core.py

[Install]
WantedBy=multi-user.target
